<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/commas.css" />
    <link rel="stylesheet" href="/static/css/commons.css" />
</head>
<body>

<div class="pg-header">
        <div class="w">
            <a class="logo" href="/"></a>
            <div class="act-menu">
                <a href="/all/hot/recent/1" class="tb active">岩林</a>
                <a href="/all/hot/recent/1" class="tb">岩林</a>
                <a href="/all/hot/recent/1" class="tb">岩林</a>
                <a href="/all/hot/recent/1" class="tb">岩林</a>
                <a href="/all/hot/recent/1" class="tb">岩林</a>
                <a href="/all/hot/recent/1" class="tb">岩林</a>
            </div>
            <div class="key-sera">

                <form action="/search/show" method="post" name="searchFrm2" id="searchFrm2">
                    <input type="text" class="search-txt-s" name="words" id="txtSearch2" autocomplete="off">

                    <a href="javascript:;" class="i" name="searchBtn_2" id="searchBtn_3"><span class="ico"></span></a>
                    <input type="hidden" value="1" id="page" name="page">
                </form>

		    </div>

                {% if session.is_login %}
                <div id="action_nav" is-login="true" class="action-nav">
                    <a href="/manager/" style="float:left;position:relative;" id="btnDtaiShw">管理
                        <b class="notice-num-title" id="Dtai-num-title" style="right: 3px; display: none;">
                            <em id="Dtai-em"></em>
                        </b>
                    </a>
                    <a href="/user/link/saved/1" id="loginUserNc" class="userPro-Box">
                        <img src="" id="userProImg">
                        <span class="u-nick" id="userProNick">{{ session.username }}</span>
                        <em id="userProArr"></em>
                    </a>
                </div>
                <div class="user-opr-box" id="userOprBox" style="left: 869px; display: none;">
                    <a href="/user/link/saved/1" style="border-top:0;">我的新热榜</a>
                    <a href="/profile">设置</a>
                    <a class="logout" href="javascript:;">退出</a>
                    <a href="http://www.chouti.com/cdu_45792645155" target="_blank" class="ie6-a">我的收藏</a>
                </div>
                {% else %}
                <div id="action_nav" is-login="false" class="action-nav">
                    <a href="/login/" class="login-btn-a" id="login_link_a">登录</a>
                </div>
                {% endif %}
        </div>
    </div>
<div id="post_list" style="margin-top: 10px">
    {% for new in news %}
    <div style="width: 1000px;margin: 0 auto">
<div class="post_item">
    <div class="post_item_body">
        <img width="80" height="80" class="pfs" src="{{ new.url }}" style="float: left;margin-right: 15px">
	    <h3><a class="titlelnk" href="/detail/{{ new.id }}.html" target="_blank">{{ new.title }}</a></h3>
        <p class="post_item_summary">
             {{ new.content }}...
        </p>
    <div class="post_item_foot">
        <a href="http://www.cnblogs.com/chyingp/" class="lightblue" >{{ new.user_id__username }}</a>
        发布于 {{ new.create_date }}
    </div>
</div>
</div>
</div>
    {% endfor %}
</div>
<div class="pagination" style="text-align: center">
    {{ page }}
</div>
<script src="/static/js/jquery-1.8.2.min.js"></script>
<script>
    function Redirt(ths) {
        var title = $(ths).text();
        console.log(title);
        $.ajax({
            url:'/index/',
            type:'POST',
            data:{'title':title},
            dataType:'json',
            success:function (data) {

            }

        })
    }
</script>
</body>
</html>