<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理页面</title>

<link rel="stylesheet" href="/static/css/index.css" type="text/css" media="screen" /><link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/tendina.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>

</head>
<body>
    <!--顶部-->
    <div class="layout_top_header">
            <div style="float: left"><span style="font-size: 16px;line-height: 45px;padding-left: 20px;color: #8d8d8d">张岩林管理后台</span></div>
            <div id="ad_setting" class="ad_setting">
                <a class="ad_setting_a" href="javascript:; ">
                    <i class="icon-user glyph-icon" style="font-size: 20px"></i>
                    <span>管理员</span>
                    <i class="icon-chevron-down glyph-icon"></i>
                </a>
                <ul class="dropdown-menu-uu" style="display: none" id="ad_setting_ul">
                    <li class="ad_setting_ul_li"> <a href="javascript:;"><i class="icon-user glyph-icon"></i> 个人中心 </a> </li>
                    <li class="ad_setting_ul_li"> <a href="javascript:;"><i class="icon-cog glyph-icon"></i> 设置 </a> </li>
                    <li class="ad_setting_ul_li"> <a href="javascript:;"><i class="icon-signout glyph-icon"></i> <span class="font-bold">退出</span> </a> </li>
                </ul>
            </div>
    </div>
    <!--顶部结束-->
    <!--菜单-->
    <div class="layout_left_menu">
        <ul id="menu">
            <li class="childUlLi">
                <a href="#"> <i class="glyph-icon  icon-location-arrow"></i>菜单管理</a>
                <ul>
                    <li><a href="meunbox.html" target="menuFrame"><i class="glyph-icon icon-chevron-right"></i>平台菜单</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!--菜单-->
    <div id="layout_right_content" class="layout_right_content" style="margin: 0 auto">
        <form action="/manager/" method="post" enctype="multipart/form-data">
            <div class="nav login_psdNav">
				<div class="col-xs-4">
					标&nbsp;&nbsp;&nbsp;题:
				</div>
				<div class="col-xs-6">
					<input type="text" name="title" id="psd" value="" placeholder="&nbsp;&nbsp;标题"  />
				</div>
			</div>
            <div class="nav login_psdNav">
				<div class="col-xs-4">
					内&nbsp;&nbsp;&nbsp;容:
				</div>
				<div class="col-xs-6">
                    <textarea id="psd" name="content"  style="height: 80px"></textarea>
				</div>

			</div>
            <div class="nav login_psdNav" style="margin-top: 60px;">
				<div class="col-xs-4">
					头&nbsp;&nbsp;&nbsp;像:
				</div>
				<div class="col-xs-6" >
					<input type="file" name="img" id="psd" value=""  onBlur="javascript:ok_or_errorBylogin(this)" />
				</div>

			</div>
            <div class="col-xs-12 login_btn_div">
				<input type="submit" class="sub_btn" value="提交" id="login"/>
			</div>
        </form>

    </div>
    <div class="layout_footer">
        <p>Copyright © 2016 - 张岩林科技</p>
    </div>
</body>
</html>